{% extends 'base.html' %}
{% comment %}
David Barnes
CIS218
08-21-22
{% endcomment %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">David Barnes</h1>
    <p class="col-md-8 fs-4">
      I Design, Develop, and Implement Innovative Software Solutions on Web and PC Platforms
    </p>
  </div>
</div>
<p>
  I am an experienced Computer Information Systems Instructor and Software Engineer with a proven track record of delivering
  highly qualified and knowledgeable students. Instructional strengths include various instructional strategies, curriculum
  development, cross department collaboration, and university partnerships. Software engineering strengths include full
  stack web application solutions, business productivity enhancements through the use of software, project time
  management, and the modeling of data and business processes/systems.
</p>
<p>
  I currently work as the Senior Software Engineer at Bert R. Hybels, Inc. and teach as an Adjuct Faculty at Kalamazoo Valley Community College's Computer Information Systems department.
</p>
<p>
  Bert R. Hybels, Inc. is a Kalamazoo based bedding plant brokerage between 26 Kalamazoo area plant growers and over
  1000 independent garden centers throughout half of the United States. Shipping over 1000 loads consisting of
  approximately 28000 carts of product each spring season.
</p>
<span>
  Highlights of my job at Bert R. Hybels, Inc. include:
  <ul>
    <li>
      Designed, implemented, and tested a new web based system to handle planning between customer orders,
      grower product inventory, and trucking logistics using PostgreSQL, Python and the Django web framework.
    </li>
    <li>
      Improved existing web based system for customer orders to better handle grower product inventory and the
      basics of trucking logistics using MySQL, PHP, and Laravel.
    </li>
    <li>
      Implemented a secure web based API for growers to facilitate third party B2B software communication.
    </li>
    <li>
      Successfully deployed and maintain web based systems using Linux machines in a virtualized environment on
      Amazon Web Services.
    </li>
    <li>
      Upgrade network infrastructure for redundant fiber and cable Internet connections and a zero configuration fail
      over to backup lines in the event of disruption.
    </li>
  </ul>
</span>

<p>
  Kalamazoo Valley Community College is a post-secondary institution committed to enriching the lives of students and
  communities through quality educational programs and services.
</p>
<span>
  At KVCC I teach the following classes:
  <ul>
    <li>Advanced C# - The third software development course at KVCC using C#.</li>
    <li>Mobile Application Development - An introduction to making mobile apps on Android using Java.</li>
    <li>Web Application Programming - An introduction to making web applications using Python and Django.</li>
    <li>Advanced Web Application Programming - Advanced concepts making web applications using Python, JavaScript, Django, Angular, and websockets.</li>
    <li>Web Development for ECommerce - A multi-discipline course where students from different disciplines
      form a team to plan and implement a web application for a non-profit orgainization.</li>
  </ul>
</span>
<p>
  In conjunction with my Department Chair, and the Computer Science Department at Western Michigan University I have helped develop a two new Python courses, and two new Web Application courses with a focus on Django.
  I also take groups of students to the USITCC and MWC3 conference each year so that they can get exposure to a Professional Conference and expand their learning outside the classroom.
</p>
{% endblock content %}